*{
    margin: 0;
    padding: 0;
}

body {
    background:rgb(181, 181, 242);
    font: normal 15pt arial;
    color: black;
    width: 80vw;
    height: 80vh;
    margin: auto;
    padding: 15px;
}

header {
    color: white;
    text-align: center;
    margin: 2rem 0 2rem;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.484);
}

.botao {
    border-radius: 10rem;
    background: rgb(13, 0, 255);
    width: 7rem;
    padding: .5rem;
    color: #fff;
    border: none;
    font-size: 1.0rem;
    margin: 1.5rem 0 3rem;
    cursor: pointer;
}

.botao:hover {
    transition: all  .5s ease-in-out;
    background-color: rgb(255, 119, 0);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 2rem;
}