*{
    margin: 0;
    padding: 0;
}

body {
    background:rgb(82, 82, 213);
    font: normal 15pt arial;
    color: black;
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 15px;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.484);
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}